<%- include('partials/header', { title }) %>
<section class="message card"><h1><%= title %></h1><p class="preline"><%= message %></p><a class="button primary" href="/?lang=<%= locale %>"><%= t.home %></a></section>
<%- include('partials/footer') %>
